/* Typography */
body {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#timer {
    font-size: 3rem;
    font-weight: 700;
}

.nav {
    font-size: .95em;
}

h1, h2, ul, span, section{
    margin: 0;
}
/* Layout */
body {
    background-color: #FFA08F;
    position: relative;
}

.nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #71F5BD;
    height: 5vh;

}

main {
    position: relative;
    height: 95vh;
}

.app {
    margin: 0 auto;
    background-color: tomato;
    border-top: 1em solid #2CA873;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    min-width: 350px;
    min-height: 350px;
}

.description {
    background-color: white;
    padding: 1em;
}

.container, .timer-container {
    margin: 0 auto;
}

.timer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    top: 50%;

}

.no-bullet {
    list-style: none;
}

.about {
    background-color:  #FFA08F;
}

li {
    list-style: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: greenyellow;
    font-weight: 900;
    font-size: 1rem;
    border: none;
    border-radius: .25em;
    padding: 10px;
    border-bottom: solid green .35em;
}

/* Settings Modal */

.settings-modal {
    padding: 1em;
    height: 30em;
    width: 40%;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: tomato;
    position: absolute;
    border-radius: 50px;
    left: 0;
    right: 0;
    top: 6.5%;
    min-width: 350px;
    max-width: 350px;
}

#timer-minutes, #break-minutes {
    width: 100px;
}

/* Pseudo Classes */
button:hover {
    cursor: pointer;
}

button:focus {
    padding: 7px 10px 10px 10px;
    border: none;

}

/* Control Switches */
.active 
{
    color: greenyellow;
}

.break {
    color: green;
}

.stop {
    color: black;
}

.hide {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

