
body {
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #FFA08F;
    position: relative;
}

h1,span, section,p{
    margin: 0;
}
.about {
    background-color:  #FFA08F;
}

.description {
    background-color: white;
    padding: 1em;
}

.no-bullet {
    list-style: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap:  15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

#timer-minutes, #break-minutes {
    width: 100px;
}

.settings-modal {
    padding: 1em;
    height: 500px;
    width: 40%;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: tomato;
    position: absolute;
    border-radius: 50px;
    left: 0;
    right: 0;
    top: 6.5%;
}

#settings-open:hover {
    color: wheat;
}

button:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
/* Control Switches */
.active 
{
    color: greenyellow;
}

.break {
    color: green;
}

.stop {
    color: black;
}


/* *************************** */
/* *****Phone Styles********** */
/* *************************** */
/* checking for screen of 350 px */
@media screen and (min-width: 375px) {
    ul {
        list-style: none;
    }
    /* Nav */
    .nav {
        text-align: left;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        background-color: #71F5BD;

    }
    /* Timer */
    main {
        position: relative;
        height: 95vh;
    }
    
    .timer-container {
        position: absolute;
        margin: 0 auto;
        height: 370px;
        width: 370px;
        background-color: tomato;
        border-radius: 50%;
        border-top: 23px solid #2CA873;
        top: 50%;
        transform: translateY(-50%);
        right: 0; left: 0;
    }
    
    .app {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 0;
    }

    #timer {
        font-size: 2rem;
        font-weight: 900;
        margin: 1em 0;
    }
    /* About and Description */
    .about {
        height: 45vh;
    }
    .description {
        height: 45vh;
    }

    h1 {
        padding-top: 2em;
    }

button {
    background-color: greenyellow;
    font-weight: 900;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding: 10px;
    border-bottom: solid green 4px;
}

button:focus {
    padding: 7px 10px 10px 10px;
    border: none;

}

#timer {
    display: block;
}

}


/* *************************** */
/* ****Desktop Styles********** */
/* *************************** */
@media screen and (min-width: 1100px) {
    /* Timer Zone */

main {
    position: relative;
    height: 90vh;
}
.timer-container {
    position: absolute;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: tomato;
    border-top: 23px solid #2CA873;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;    
}

.app {
    position: absolute;
    top: 50%;
    text-align: center;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

#timer {
    font-size: 3rem;
    font-weight: 900;
    margin: 1em 0;
}

button {
    background-color: greenyellow;
    font-weight: 900;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding: 10px;
    border-bottom: solid green 4px;
}

button:focus {
    padding: 7px 10px 10px 10px;
    border: none;

}

#timer {
    display: block;
}

/* about */
.container {
    margin: 0 auto;
    max-width: 1000px;
}


/* Nav */

header {
    background-color: #71F5BD;
    margin-bottom: 3em;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px 0;
    justify-content: space-evenly;
}


}
